version: '3'

services:
    website:
        build: ./Website
        volumes:
            - ./Website:/usr/app/
        ports:
            - '80:8501'
        links:
            - usermaker
        depends_on:
            - mongodb
        networks:
            - discover_weekly_twitter
    mongodb:
        image: mongo:latest
        environment:
            MONGO_INITDB_ROOT_USERNAME: mongo
            MONGO_INITDB_ROOT_PASSWORD: password
        volumes:
            - MongoDb:/data/db
        ports:
            - '28017:27017'
        networks:
            - discover_weekly_twitter
    usermaker:
        build: ./UserMaker
        volumes:
            - ./UserMaker:/app
        ports:
            - '5000:5000'
        depends_on:
            - mongodb
        networks:
            - discover_weekly_twitter  

networks:
    discover_weekly_twitter:
        driver: bridge

volumes:
    MongoDb: